includes:
  - extension.neon
parameters:
  level: 6
  paths:
    - src
    - tests
  excludePaths:
    - tests/data
  scanDirectories:
    - vendor/fin-cli/fin-cli
    - vendor/phpunit/php-code-coverage
    - vendor/behat/behat
  scanFiles:
    - tests/phpstan/scan-files.php
  treatPhpDocTypesAsCertain: false
  dynamicConstantNames:
    - FIN_DEBUG
    - FIN_DEBUG_LOG
    - FIN_DEBUG_DISPLAY
  ignoreErrors:
    # Needs fixing in FIN-CLI.
    - message: '#Parameter \#1 \$cmd of function FIN_CLI\\Utils\\esc_cmd expects array<string>#'
    - message: '#Dynamic call to static method#'
      path: 'tests/tests'
  strictRules:
    strictCalls: true
